<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.popcornnn.photos-search.exporter</string>
    <key>CFBundleName</key>
    <string>Photo Search Exporter</string>
    <key>CFBundleExecutable</key>
    <string>photo-export</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Photo Search reads a small sample of your photo library to build a private local search index.</string>
    <key>LSUIElement</key>
    <false/>
</dict>
</plist>
